body {
  font-family: arial,sans serif;
  font-size: 11pt;
  margin: 0;
}
main {
  margin: 8px;
}
table {
	margin-top: 14px;
	border-spacing: 0px;
	border-collapse: collapse;
}
thead {
	background-color: lightblue;
}
td, th {
	border: 1px solid black;
	padding-left: 5px;
	padding-right: 5px;
}
table tbody tr:nth-child(even) {
	background-color: #ddd;
}
td > p, th > p {
	margin-top:7px;
	margin-bottom:7px;
}
td > p:first-child, th > p:first-child  {
	margin-top:0;
}
td > p:last-child, td > p:last-child {
	margin-bottom:0;
}
tr > td:first-child {
	white-space: nowrap;
}
.rg {
  text-align: right;
}
label, span.label {
	display: inline-block;
	min-width: 7em;
}
select, input[type=number] {
	width: 6em;
}
input[type=number] {
	text-align: right;
}
.dosDecimales span.nm.dc0:after {
  content: ",00"
}
.dosDecimales span.nm.dc1:after {
  content: "0"
}
.dosEnteros span.en1:before {
  content: " "
}
header, footer {
  padding: 1em;
  clear: both;
  margin: 0px;
  color: #fff !important;
  background-color: #3a3a3a !important;
}
footer {
  margin-top: 16px !important;
}
footer p:first-child {
	margin-top: 0;
}
footer p:last-child {
	margin-bottom: 0;
}
header a, footer a {
  color: inherit;
}
fieldset.hidefls > legend {
	display: none;
}
fieldset.hidefls {
	border: none;
	padding: 0;
}
fieldset.hidefls .firstinfls {
	margin-top: 0;
}
#neto_mes {
	background-color: gold;
}
th img {
	max-width: 50%;
	max-height: 50%;
}
th#sueldo a {
	text-decoration: none;
	font-weight: bold;
}
a.info {
	text-decoration: none;
}

ol {
	padding-left: 1.5em;
	margin-left: 0;
}

#slot_trienios {
	padding-top: 5px;
	padding-bottom: 5px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  justify-content: start; 
  width: fit-content;
}

#slot_trienios label {
  min-width: 0em !important;
}

body.loading > .loading {
	display: block !important;
}
body.loading > main {
	display: none;
}
body:not(.loading) > .loading {
	display: none;
}

.loader {
	width:1em;
	aspect-ratio:1;
	border-radius:50%;
	background:#000;
	display:inline-grid;
	animation:l22-0 2s infinite linear;
	margin-right:1em;
	margin-left:1em
  }
  .loader:before,
  .loader:after {
	content:"";
	grid-area:1/1;
	margin:15%;
	border-radius:50%;
	background:inherit;
	transform:rotate(0) translate(150%);
	animation:l22 1s infinite
  }
  .loader:after {
	animation-delay:-.5s
  }

  @keyframes l22-0 {
	to {
	  transform:rotate(1turn)
	}
  }
  @keyframes l22 {
	to {
	  transform:rotate(1turn) translate(150%)
	}
  }

  dl {
	display: grid;
	grid-template-columns: max-content 1fr;
	gap: 8px 16px; /* Espaciado entre elementos */
  }
  
  dt {
	font-weight: bold;
	grid-column: 1; /* Primera columna */
  }
  
  dd {
	margin: 0; /* Elimina el margen predeterminado */
	grid-column: 2; /* Segunda columna */
  }
  select {
	min-width: max-content;
  }